/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Fondo negro */
    color: #FFFFFF; /* Texto blanco */
}

/* Estilos para el header */
header {
    background-color: #663399; /* Color del header */
    padding: 1rem;
    text-align: center;
}

header h1 {
    color: #FFFFFF; /* Texto blanco */
    margin: 0;
}

/* Estilos para el main */
main {
    padding: 2rem;
}

/* Divisores */
.divisor {
    border-top: 2px solid #444444; /* Gris oscuro */
    margin: 2rem 0;
}

/* Sección y botones */
.seccion {
    margin: 1rem 0;
}

.seccion button {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.seccion button:hover {
    background-color: #357ab8;
}

.seccion p {
    display: none;
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: #29293e;
    border-radius: 5px;
}

/* Botón de regreso */
.btn-back {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    background-color: #f44141;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.btn-back:hover {
    background-color: #cc3636;
}

/* Estilos para el footer */
footer {
    background-color: #663399; /* Color del footer */
    color: #FFFFFF; /* Texto blanco */
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
