/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Fondo negro */
    color: #FFFFFF; /* Texto blanco */
}

/* Encabezado */
header {
    background-color: #663399; /* Color morado */
    padding: 1rem;
    text-align: center;
}

header h1 {
    color: #FFFFFF; /* Texto blanco */
    margin: 0;
}

/* Estilo para el contenido principal */
main {
    padding: 2rem;
}

/* Divisores */
.divisor {
    border-top: 2px solid #444444; /* Gris oscuro */
    margin: 2rem 0;
}

/* Botones principales */
button, .btn-back {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #663399; /* Mismo color que el header/footer */
    color: #FFFFFF; /* Texto blanco */
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Para los enlaces tipo botón */
    text-align: center;
    cursor: pointer;
}

button:hover, .btn-back:hover {
    background-color: #522a78; /* Morado más oscuro */
}

/* Botones específicos */
.seccion button {
    margin-top: 0.5rem;
}

.seccion p {
    display: none; /* Inicialmente oculto */
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: #29293e; /* Fondo para las secciones de texto */
    border-radius: 5px;
}

/* Estilo para enlaces */
a {
    color: #4a90e2;
    text-decoration: none;
}

a:hover {
    color: #357ab8;
}

/* Pie de página */
footer {
    background-color: #663399; /* Color morado */
    color: #FFFFFF; /* Texto blanco */
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
